- if @calendar.draw_new_booking_after_mulitday?(booking, day)
  = render :partial => 'time', :object => booking.ends_at,:locals => {:klass => 'ends_at'}
  = render :partial => 'new_booking', :locals => {:machine => booking.machine, :day => day, :opts => {:after => booking}}
-if @calendar.draw_booking?(booking, day)
  -if booking.book_before_ok? && booking.starts_at?(day)
    = render :partial => 'time', :object => booking.starts_at, :locals => {:klass => 'starts_at'}
  %div[booking]{:class => div_class(@calendar, booking)}
    .booking_header
      -if can?(:edit, booking) 
        = link_to booking.user.user_name(:shorter), user_path(booking.user), :class => 'first'
        = link_to image_tag('icons/png16/edit.png'), edit_booking_path(booking), :title => t('edit')
      -else
        = link_to booking.user.user_name(:short), user_path(booking.user), :class => 'first'
      -if can?(:destroy, booking) 
        = link_to image_tag('icons/png16/destroy.png'), booking_path(booking), :confirm => t('confirm', :action => t('delete'), :name => "#{t('activerecord.models.booking')} # #{booking.id}"), :title => t('delete'), :method => :delete
    = render :partial => 'booking_details', :locals => {:booking => booking}
  -if @calendar.draw_new_booking_after?(booking, day)
    = render :partial => 'time', :object => booking.ends_at, :locals => {:klass => 'ends_at'}
    = render :partial => 'new_booking', :locals => {:machine => booking.machine, :day => day, :opts => {:after => booking}}

