= new_booking(booking.machine, day, :after => booking) if @calendar.draw_new_booking_after_mulitday?(booking, day) 
-if @calendar.draw_booking?(booking, day)
  %div[booking]{:class => div_class(@calendar, booking)}
    = link_to booking.user.user_name(:short), user_path(booking.user)
    -if can?(:edit, booking) && booking.ends_at.to_date >= Date.today
      = link_to image_tag('icons/png16/edit.png'), edit_booking_path(booking)
      = link_to image_tag('icons/png16/destroy.png'), booking_path(booking), :method => :delete
  = new_booking(booking.machine, day, :after => booking) if @calendar.draw_new_booking_after?(booking, day)

