%h2
  = link_to t('.prev_period'), calendar_path(:start_date => @calendar.prev)
  = t('.heading', :start => l(@calendar.days.first), :end => l(@calendar.days.last - 1.day))
  = link_to t('.next_period'), calendar_path(:start_date => @calendar.next)
%table.calendar
  %tr
    %th
    -@calendar.machines.each do |m|
      %th= m.name
  - @calendar.days.each do |d|
    %tr{:class => row_class(@calendar, d)}
      %td.date= t('date.abbr_day_names')[d.wday] + ', ' +  l(d)
      - @calendar.machines.each do |m|
        %td 
          = new_booking(m,d) if @calendar.draw_new_booking_first?(m.id, d)
          = draw_spacer(@calendar, m.id, d)
          - @calendar.entries_for(m.id, d).each do |booking|
            = draw_booking(@calendar, booking, d)
          = new_booking(m,d) if @calendar.draw_new_booking_last?(m.id, d)
