%div.calendar.outer
  %div.select-machines
    = render :partial => 'machines'
  %div.calendar.middle
    = calendar_link content_tag(:div, image_tag('icons/up.svg', :size => '64x32'), :class => :up), :start_date => @calendar.prev
    %div.calendar.inner
      %table.calendar
        //%tr
        //  %td.up{:colspan => 6}
        %tr
          %th
            = calendar_link image_tag('icons/go-previous.svg', :size => '16x16'), {:machine_offset => @calendar.machine_offset - 1},  :class => 'prev_machine_link' if prev_machine_link?
          -@calendar.machines.each_with_index do |m, i|
            - if draw_machine?(i)
              %th
                = m.name  
                = calendar_link image_tag('icons/go-next.svg', :size => '16x16'), {:machine_offset => @calendar.machine_offset + 1}, :class => 'next_machine_link' if next_machine_link?(m, i)
        - @calendar.days.each do |d|
          %tr{:class => row_class(@calendar, d)}
            %td.date= t('date.abbr_day_names')[d.wday] + ', ' +  l(d)
            - @calendar.machines.each_with_index do |m, i|
              - if draw_machine?(i)
                %td{:class => "machine-#{m.id}"} 
                  = new_booking(m,d) if @calendar.draw_new_booking_first?(m.id, d)
                  = draw_spacer(@calendar, m.id, d)
                  - @calendar.entries_for(m.id, d).each do |booking|
                    = render :partial => 'calendar/booking', :object => booking, :locals => {:day => d}
    = calendar_link content_tag(:div, image_tag('icons/down.svg', size: '64x32'), :class => :down), :start_date => @calendar.next
