%h2= t('.heading')
-if user_signed_in?
  %table.calendar
    %tr
      %th
      -@machines.each do |m|
        %th= m.name
    - (@calendar.start_date..@calendar.end_date).each do |d|
      %tr{:class => "day#{d.wday} #{cycle('odd', 'even')}"}
        %td.date= t('date.abbr_day_names')[d.wday] + ', ' +  l(d)
        - @machines.each do |m|
          %td 
            - if @calendar.draw_new_booking_first?(m.id, d)
              %div.free 
                = link_to '+', new_booking_path(:booking => {:machine_id => m, :starts_at => d.to_datetime})
            - @calendar.entries_for(m.id, d).each do |booking|
              %div{:class => booking.day_type(d)}
                = 'something quite long and even longer' if  booking.first_day?(d) || d == @calendar.start_date
                = 'something quite long and even longer' if  booking.first_day?(d) || d == @calendar.start_date
            - @calendar.number_of_spacers(m.id, d, @machines).times do |i|
              %div{:class => 'booked middle'}
            - if @calendar.draw_new_booking_last?(m.id, d)
              %div.free 
                = link_to '+', new_booking_path(:booking => {:machine_id => m, :starts_at => d.to_datetime})
-else
  %p und das ohne Anmeldung 

