= semantic_form_for @option_group do |f|
  = f.inputs do
    = f.input :name
    = f.input :exclusive, :as => :boolean
    = f.input :optional, :as => :boolean
  - unless @option_group.new_record?
    = f.inputs :for => :options, :name => (t('activerecord.models.option') + ' %i'), :class => 'option' do |o|
      = o.input :name
      = o.input :needed
      = o.input :message, :as => :string
  = f.buttons do
    = f.commit_button
