= semantic_nested_form_for @option_group do |f|
  = f.inputs do
    = f.input :name
    = f.input :exclusive, :as => :boolean
    = f.input :optional, :as => :boolean
    = f.inputs :for => :options, :name => t('activerecord.models.option') + ' %i', :class => 'option' do |o|
      %li.input
        %label= o.link_to_remove t('.remove_option')
      = o.input :name
      = o.input :needed
      = o.input :excluded_options, :collection => Option.where('option_group_id != :id', :id => @option_group.id).order(:name), :group_by => :option_group, :include_blank => t('none')
      = o.input :message, :as => :string
    %b= f.link_to_add t('.add_option'), :options
  = f.actions do
    = f.action :submit
