= semantic_form_for @option_group do |f|
  = f.inputs do
    = f.input :name
    = f.input :exclusive, :as => :boolean
    = f.input :optional, :as => :boolean
  - unless @option_group.new_record?
    %h3= t 'activerecord.attributes.machine.options'
    = f.inputs :for => :options do |o|
      = o.input :name
    = f.buttons do
      = f.commit_button
