= semantic_form_for @booking do |f|
  = f.inputs do
    = f.input :starts_at
    = f.input :ends_at
    = f.input :all_day, :as => :boolean
    - if can? :manage, Booking
      = f.input :user_id, :as => :select, :collection => User.order(:last_name)
      = f.input :machine_id, :as => :select, :collection => Machine.order(:name)
    - else
      = f.input :user_id, :as => :hidden
      = f.input :machine_id, :as => :hidden
  = f.inputs do
    - if @booking.machine.options.any?
      %h3= t('.options')
      - @booking.machine.options.group_by(&:option_group).each do |group, options|
        %h4= group.name
        = f.input :options, :collection => options, :required => !group.optional, :input_html => {:multiple => !group.exclusive} 
  = f.buttons do
    = f.commit_button
    %li.button
      = link_to t('formtastic.actions.cancel'), calendar_path
