= semantic_form_for @booking do |f|
  = f.inputs do
    = f.input :starts_at
    = f.input :ends_at
    = f.input :all_day, :as => :boolean
    - if can? :manage, Booking
      = f.input :user_id, :as => :select, :collection => User.order(:last_name)
      = f.input :machine_id, :as => :select, :collection => Machine.order(:name)
    - else
      = f.input :user_id, :as => :hidden
      = f.input :machine_id, :as => :hidden
  = f.inputs do
    - if @booking.machine.option_groups.any?
      %h3= t('.options')
      - @booking.machine.options.group_by(&:option_group).each do |group, options|
        %div{:class => @booking.errors[:base] && @booking.errors[:base].any?{|e| e.match(/#{group.name}/)} ? 'error' : ''}
          = f.input :options, :as => group.exclusive ? :select : :check_boxes,
                              :collection => options,
                              :required => !group.optional, 
                              :label => group.name, 
                              :include_blank => group.optional ? t('none') : t('please_choose'),
                              :input_html => {:multiple => !group.exclusive} 
          - errors = @booking.errors[:base].collect{|e| e if e.match(/#{group.name}/)}
          %p.inline-errors
            -@booking.errors[:base].collect{|e| e if e.match(/#{group.name}/)}.compact.each do |error|
              = error
            
  = f.buttons do
    = f.commit_button
    %li.button
      = link_to t('formtastic.actions.cancel'), calendar_path
