= semantic_form_for @booking do |f|
  = f.inputs do
    = f.input :starts_at, :include_blank => false
    = f.input :ends_at, :include_blank => false
    = f.input :all_day, :as => :boolean
    = f.input :temperature, :as => :string, :label => t('activerecord.attributes.booking.temperature')
    = f.input :sample
    - if can? :manage, Booking
      = f.input :user_id, :as => :select, :collection => User.order(:last_name)
      = f.input :machine_id, :as => :select, :collection => Machine.order(:name)
    - else
      = f.input :user_id, :as => :hidden
      = f.input :machine_id, :as => :hidden
    = f.input :comment, :input_html => { :class => 'autogrow', :rows => 5, :cols => 33}
  = f.inputs do
    = @booking.not_available_options
    - if @booking.machine.option_groups.any?
      %h3= t('.options')
      - @booking.machine.options.sort_by{|o| o.option_group.name}.group_by(&:option_group).each do |group, options|
        %div{:class => @booking.group_errors(group).any? ? 'error' : ''}
          = f.input :options, :as => group.exclusive ? :select : :check_boxes,
                              :collection => options,
                              :required => !group.optional, 
                              :label => group.name, 
                              :include_blank => group.optional ? t('none') : t('please_choose'),
                              :disabled => @booking.not_available_options,
                              :input_html => {:multiple => !group.exclusive} 
          %p.inline-errors
            - @booking.group_errors(group).each do |e|
              = (e)
              %br
            
  = f.buttons do
    = f.commit_button
    %li.button
      = link_to t('formtastic.actions.cancel'), calendar_path
