%h2= t('.sign_in')

= semantic_form_for resource, :as => resource_name, :url => session_path(resource_name) do |f|
  = f.input :email, :input_html => {:autofocus => true}
  = f.input :password
  //= f.input :remember_me, :as => :check_boxes, :collection => [t(".remember_me")], :label => false
  = f.commit_button :sign_in
