%p= t('.hello', :name => @resource.user_name)
%p= t('.password_reset_request')
%p= link_to t('.change_my_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) 
%p= t('.false_request_ignore')
%p= t('.wont_change')
