= semantic_form_for @machine do |f|
  =f.inputs do
    = f.input :name, :input_html => {:size => 52 }
    = f.input :description, :input_html => { :rows => 5, :cols => 50 }
  = f.buttons do
    = f.commit_button
    %li.button
      = link_to t('formtastic.actions.cancel'), machines_path
