= semantic_form_for @machine do |f|
  =f.inputs do
    = f.input :name, :input_html => {:size => 52 }
    = f.input :description, :input_html => { :rows => 5, :cols => 50 }
    %li#machine_max_duration_input.input.string.optional
      = f.label :max_duration, :class => :label
      = f.text_field :max_duration, :size => 2
      = f.select :max_duration_unit, Machine.time_units.map{|unit| [t('time_units.' + unit.to_s), unit.to_s]}
    %li
      %h3= t 'activerecord.attributes.machine.options'
    = f.inputs :for => :options, :name => 'Option #%i' do |o|
      = o.input :name
      = o.input :option_group
  = f.buttons do
    = f.commit_button
    %li.button
      = link_to t('formtastic.actions.cancel'), machines_path
