%table
  %tr
    %th= t('.name')
    %th= t('.description')
    -if can? :manage, Machine
      %th= link_to t('.new'), new_machine_path
      %th

  - @machines.each do |machine|
    %tr
      %td= machine.name
      %td= machine.description
      -if can? :manage, Machine
        %td= link_to t('edit'), edit_machine_path(machine)
        %td= link_to t('destroy'), machine, :confirm => t('are_you_sure?'), :method => :delete
