%table
  %tr
    %th
      = link_to image_tag('icons/png16/add.png'), new_machine_path if can? :create, Machine
      = t('.name')
    %th= t('.description')
  - @machines.each do |machine|
    %tr{:class => cycle('odd', 'even')}
      %td
        -if can? :manage, Machine
          = link_to image_tag('icons/png16/destroy.png', :size => '16x16') ,
                    machine, :confirm => t('confirm', :action => t('delete'), :name => machine.name), :title => t('delete'),
                    :method => :delete
          = link_to image_tag('icons/png16/edit.png', :size => '16x16'), edit_machine_path(machine), :title => t('edit')
        = link_to machine.name, machine, :title => t('show')
      %td
        = machine.description
