%h2= @machine.name
.machine
  %ul
    %li
      %b= t('activerecord.attributes.machine.name') + ':'
      = @machine.name
    %li
      %b= t('activerecord.attributes.machine.description') + ':'
      = @machine.description
    %li
      %b= t('activerecord.attributes.machine.options') + ':'
      %ul
        - @machine.options.group_by(&:option_group).each do |group, option|
          %li= group.name
          %ul
            - option.each do |o|
              %li= o.name.html_safe
          
      
= link_to t('edit'), edit_machine_path(@machine)
\|
= link_to t('back'), machines_path
