%h2= @machine.name
-unless @machine.description.blank?
  %p= @machine.description
  #show_machine
    %h3= t('.limits') + ':'
    %ul
      %li
        %b= t('activerecord.attributes.machine.max_duration') + ':'
        = @machine.human_max_duration
      %li
        %b= t('activerecord.attributes.machine.min_booking_time') + ':'
        = @machine.human_min_duration
      %li
        %b= t('activerecord.attributes.machine.max_future_bookings') + ':'
        = @machine.max_future_bookings
      -if @machine.needs_temperature
        %li
          %b= t('.temperature_needed')
      -if @machine.needs_sample
        %li
          %b= t('.sample_needed')

    %h3= t('activerecord.attributes.machine.options') + ':'
    %ul
      - @machine.options.group_by(&:option_group).each do |group, options|
        %li
          %b= group.name + ':'
          = options.collect{|o| o.name}.join(' | ').html_safe
          
.clear      
-if can? :edit, @machine
  = link_to t('edit'), edit_machine_path(@machine)
  \|
= link_to t('back'), :back || machines_path
