%h1= t '.all_accessories'

%table
  %tr
    %th
      = link_to image_tag('icons/png16/add.png'), new_accessory_path if can? :create, Accessory
      = t 'activerecord.attributes.accessory.name'
    %th= t 'activerecord.attributes.accessory.option'
    %th= t 'activerecord.attributes.accessory.quantity'
    -if can? :manage, Accessory
      %th

  - @accessories.each do |accessory|
    %tr{:class => cycle('odd', 'even')}
      %td= link_to accessory.name, accessory
      %td= accessory.option_id
      %td= accessory.quantity
      -if can? :manage, Accessory
        %td
          = link_to image_tag('icons/png16/destroy.png'), accessory, :confirm => 'Are you sure?', :method => :delete
          = link_to image_tag('icons/png16/edit.png'), edit_accessory_path(accessory)
