-if user_signed_in?
  %ul.app_menu
    %li= link_to t('.calendar'), calendar_path
    -if can? :manage, Machine
      %li= link_to t('.machines'), machines_path 
      %li= link_to t('.options'), option_groups_path
      %li= link_to t('.accessories'), accessories_path
    -if can? :manage, User
      %li= link_to t('.users'), users_path
    -if can? :manage, Booking
      %li= link_to t('.bookings'), bookings_path
  %ul.user_menu
    %li= link_to t('.edit_account'), edit_user_registration_path
    %li= link_to t(".sign_out"), destroy_user_session_path, :method => :delete
-else
  %ul.user_menu
    - if controller_name != 'sessions'
      %li= link_to t(".sign_in"), new_user_session_path
    - if controller_name != 'registrations'
      %li= link_to t(".sign_up"), new_user_registration_path
    - if controller_name != 'passwords'
      %li= link_to t(".forgot_your_password?"), new_user_password_path
