!!! 5
%html
  %head
    %title TiMiT
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body.bp.two-col
    #container
      #header
        %h1 TiMiT
        #topmenu
          = render :partial => 'layouts/topmenu'
      #content
        - flash.each do |name, msg|
          %div{:class => name}= msg
        = yield
